on: [pull_request]

name: IntegrationTests

jobs:
  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build embedded
        run: cargo build --target thumbv7em-none-eabihf --features "no_std" --no-default-features

      - name: Start Mosquitto
        run: |
          sudo apt-get install mosquitto
          mosquitto -c .ci/mosquitto.conf -d

      - name: Run integration tests
        run: RUST_LOG=trace cargo test integration --features "testing"