on: [pull_request, workflow_dispatch, workflow_call]
name: Integration Tests

jobs:
  integration_tests_mosquitto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install toolchain
        run: rustup show

      - name: Install Mosquitto
        run: |
          sudo apt-get update
          sudo apt-get install mosquitto
          sudo service mosquitto stop

      - name: Configure & Start Mosquitto
        run: |
          cp .ci/mqtt_pass_plain.txt .ci/mqtt_pass_hashed.txt
          chmod 700 .ci/mqtt_pass_hashed.txt
          mosquitto_passwd -U .ci/mqtt_pass_hashed.txt
          mosquitto -c .ci/mosquitto.conf -d

      - name: Run integration tests
        run: RUST_LOG=trace cargo test integration --features "log" -- --show-output

  integration_tests_hive:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install toolchain
        run: rustup show

      - name: Start HiveMQ
        run: |
          curl -LO https://github.com/hivemq/hivemq-community-edition/releases/download/2025.5/hivemq-ce-2025.5.zip
          unzip hivemq-ce-2025.5.zip
          curl -LO https://github.com/hivemq/hivemq-file-rbac-extension/releases/download/4.6.8/hivemq-file-rbac-extension-4.6.8.zip
          unzip hivemq-file-rbac-extension-4.6.8.zip
          mv hivemq-file-rbac-extension hivemq-ce-2025.5/extensions
          cp .ci/hive_cred.xml hivemq-ce-2025.5/extensions/hivemq-file-rbac-extension/credentials.xml
          cp .ci/hive_extension_config.xml hivemq-ce-2025.5/extensions/hivemq-file-rbac-extension/conf/config.xml
          hivemq-ce-2025.5/bin/run.sh &

      - name: Run integration tests
        run: RUST_LOG=trace cargo test integration --features "log" -- --show-output
