on: [pull_request, workflow_dispatch]
name: Unit Tests

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@1.92

      - name: Run unit tests with alloc feature
        run: RUST_LOG=trace cargo test unit --features "log" -- --show-output

      - name: Run unit tests with bump feature
        run: RUST_LOG=trace cargo test unit --no-default-features --features "v5 bump log" -- --show-output
